#box{
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  text-align: center;
  background-color: rgb(255,255,255);
}
#text{
  position: absolute;
  width: 100%;
  top: 40%;
}
button{
  border-radius: 100px;
  margin: 10px;
  width: 80px;
  height: 50px;
  outline: none;
}
#btn{
  text-align: center;
}
#red{
  background-color: rgb(255,0,0);
}
#green{
  background-color: rgb(0,255,0);
}
#blue{
  background-color: rgb(0,0,255);
}
#error{
  display: none;
  font-size: 20px;
}
